* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(233, 8, 167, 0.6)), to(rgba(234, 59, 0, 0.6)));
    background-image: -o-linear-gradient(left, rgba(233, 8, 167, 0.6), rgba(234, 59, 0, 0.6));
    background-image: linear-gradient(to right, rgba(233, 8, 167, 0.6), rgba(234, 59, 0, 0.6));
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: monospace;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
}

.header__logo {
    text-align: left;
    line-height: 2em;
    margin-left: 20px;
    text-transform: uppercase;
}

.header__logo {
    font-size: 3em;
    }


.header__logo:first-letter {
    font-size: 2em;
}

.header__lang {
font-size: 1.5em;
text-align: center;
}

.result {
    position: relative;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.result__textarea {
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.616);
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
}

.result__number {
    position: absolute;
    left: 5%;
    bottom: 10%;
}


.result__copy, .result__remove {
    font-size: 2em;
    color: white;
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.result__copy {
    right: 5%;
    bottom: 10%;
}

.result__remove {
    right: 15%;
    bottom: 10%;
}

.categories {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.categories__group {
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(233, 8, 167)), to(rgb(234, 57, 0)));
    background-image: -o-linear-gradient(left, rgb(233, 8, 167), rgb(234, 57, 0));
    background-image: linear-gradient(to right, rgb(233, 8, 167), rgb(234, 57, 0));
    position: relative;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.categories__h {
    position: absolute;
    top: 1%;
    left: 1%;
}

.categories__img {
    border-radius: 50% 50%;
    margin: 30px 15px 15px 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.categories__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.categories__button {
    width: 70%;
    margin-right: 20px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 35px;
    color: rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.categories__button:hover {
    background-color:rgba(255, 255, 255, 0.9);
}

.categories__button .fas {
    font-size: 1.5em;
    margin-right: 10px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
}

.popup__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    height: 40%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(233, 8, 166)), to(rgb(234, 59, 0)));
    background-image: -o-linear-gradient(left, rgb(233, 8, 166), rgb(234, 59, 0));
    background-image: linear-gradient(to right, rgb(233, 8, 166), rgb(234, 59, 0));
}

.popup__h {
    text-align: center;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    font-size: 2em;
}

.popup__txt {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    font-size: 1.3em;
}

.popup__button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 15px 15px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 20%;
    cursor: pointer;
}

.popup__button:hover {
    background-color:rgba(255, 255, 255, 0.9);
}



@media (min-width:1281px) {

    .container {
        max-width: 60%;
        margin: 0px auto 0px auto;
    }

    .result {
        font-size: 1.3em;
    }

    .result__textarea {
        font-size: 1.3em;
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    }

    .result__number {
        position: absolute;
        left: 2%;
        bottom: 10%;
    }

    .categories {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .categories__group {
        width: 100%;
    }

    .popup__inner {
        height: 40%;
    }

}